html, body {
	height: 100%;
	width:100%;
}
.navbar {
	padding: 1% 0;
	font-size: 1.2em;

}

.navbar-brand {
	color: lightgray;
}

.navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
	padding: 0 20px;
	color: lightgray;
}

.navbar-nav .nav-item .nav-link:hover {
	color: yellow;
}

#hero {
	background: url("../image/Steven3.png") no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width:100%;
	background-size: cover;
}

.about-me {
	background-color: lightgray;
}

#portfolio {
	padding-top: 60px;

}

.landing-text {
	color: lightgray;
}

#join-container{
	padding-top: 60px;
}

/*.landing-text h1 {
	padding-top: 150px;
	padding-right: 75px;
}*/
/*.landing-text h3 {
	padding-right: 75px;
}*/
@media only screen and (min-width: 360px){
.landing-text h1 {
	padding-top: 35px;
	padding-right: 0;
}
}
@media only screen and (min-width: 750px) and (max-width: 949px){
	.landing-text h1 {
		padding-top: 70px;
		padding-right: 50px;
	}
}
@media only screen and (min-width: 950px){
	.landing-text h1 {
		padding-top: 125px;
		padding-right: 100px;
	}
}

@media only screen and (min-width: 360px){
	.landing-text h3 {
		padding-right: 0;
	}
}
@media only screen and (min-width: 950px){
	.landing-text h3 {
		padding-right: 70px;
	}
}
@media only screen and (min-width: 750px) and (max-width: 949px){
	.landing-text h3 {
		padding-right: 50px;
	}
}

.landing-text ul li {
	padding: 0 10px;
	list-style-type: none;
}

@media only screen and (min-width: 950px){
	.landing-text ul {
		padding: 0 50px;
		list-style-type: none;
	}
}
@media only screen and (min-width: 750px) and (max-width: 949px){
	.landing-text ul {
		padding-right: 75px;
		list-style-type: none;
	}
}

@media only screen and (min-width: 951px){
	.landing-text ul {
		padding-right: 65px !important;
		list-style-type: none;
	}
}

@media only screen and (min-width: 400px) {
	.landing-text ul li {
		padding-right: 15px;
		list-style-type: none;
		/*display: table-column;*/
	}
}

#foot {
	background-color: #343a40;
	color: lightgray;
}
#foot ul li{
	list-style-type: none;
	padding-right:15px;

}

.jumbotron {
	margin-bottom: 0;
	padding: 20px 0;
	background-color: white;
	border-bottom: #374858 1px solid;
	border-top: #374858 1px solid;

}

#skill {
	background-color: lightgray;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: #374858 1px solid;
}

/*
PORTFOLIO NEW CSS
 */
.portfolio-work{
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #d6e1e5;
	padding: 50px 0 0;
}

.u-pull-right {
	float: right;
}

.portfolio-work img.portfolio-image {
	position: relative;
	width: 100%;
}

img {
	border-style:none;
}

.u-pull-left {
	float: left;
}

.portfolio-work .portfolio-content {
	text-align: center;
	margin: 2.0em 0;
}

.portfolio-work .portfolio-content .portfolio-description {
	margin: 15px 0 28px 0;
	line-height: 1.6;
	font-size: 1.4em;
}