body{
	color:yellow;
;
}
#hero {
	background: url("../image/Alex.jpg") no-repeat;

	-webkit-background-size: cover;
	background-size: cover;
	background-position: center 60%;
	height: 100vh;
	position: relative;
	width: 100%;
}
#space {
	height: 300px;
}


.navbar{
background: none !important;

}
.navbar .navbar-brand a{
	color: red;
}


.navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
	padding: 0 20px;

}

.hero-content h1 h4{
	color: #AB804D;
}
.home-section{
	background-color: darkslategrey;
}

.form .container h2{
	color: red;
	text-align: center;
}