RewriteEngine on
RewriteCond %{HTTP_HOST} ^fullstackmartinez@gmail.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.sarahgus.yoga$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]